@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,300;0,500;1,100;1,300;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700&family=Roboto+Mono:ital,wght@0,100;0,300;0,500;1,100;1,300;1,500&display=swap");
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard-dynamic-subset.css");

html,
body {
  display: block;
  font-family: "Roboto Mono", monospace;
  font-weight: 100;
  background: #222222;
  /* height: 100vh; */
  min-height: 100vh;
  overflow: hidden;
}
*::after,
*::before {
  box-sizing: border-box;
}
*{
  -ms-user-select: none;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
/* .noise_cover::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 300vw;
  height: 300vh;
  left: -50%;
  top: -50%;
  z-index: 5;
  background-image: url(../src/noisesample.png);
  animation: grain 0.1s infinite;
  opacity: 0.08;
  pointer-events: none;
} */

.view-more{
  pointer-events: none;
}
.progress{
  display: none;
  font-size: 40px;
  font-weight: 500;
  font-family: "Playfair Display",
  serif;
}

.trans-wrap{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  opacity: 0;
  z-index: 3;
  display: none;
  justify-content: center;
  align-items: center;
  display: none;
}
/* ---------------------------------------- */
/* default end */
/* ---------------------------------------- */

.black-wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.8;
  z-index: 10;
  display: none;
  justify-content: center;
  align-items: center;
}
.black-wrap-in {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  z-index: 11;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.black-wrap-in img {
  width: 35%;
}
.resume-top {
  color: white;
  font-size: 20px;
  font-weight: 300;
  width: 35%;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}

.lang-choice{
  display: inline;
}
.top-btn:hover{
  text-decoration: underline;
}
.view-info{
  border-right: 1px solid white;
  border-left: 1px solid white;
  padding: 0 5px;
  border-radius: 5px;
  font-size: 15px;
  justify-self: baseline;
  align-self: end;
  letter-spacing: -2px;
}

main {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.header {
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  /* flex-direction: row; */
  align-items: center;
  justify-content: space-between;
  /* background-color: gray; */
  width: 100%;
  height: 85px;
  box-sizing: border-box;
  padding: 24px;
  color: beige;
  z-index: 2;
  font-weight: 300;
  border-bottom: 1px solid beige;
  font-size: 20px;
}

.submenu span {
  margin-left: 80px;
}
.grid--outer {
  position: absolute;
  top: 0;
  left: 0;
  height: 80vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding-top: 60px;
  /* background-color: red; */
  background-color: #222222;
  border-bottom: 1px solid beige;
  z-index: 1;
}

.grid {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  /* display: grid;
  grid-template-columns: 16vw 16vw 16vw 16vw 16vw;
  grid-column-gap: 5vw; */
  overflow: hidden;
}
.grid__item {
  width: 16vw;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  text-align: center;
  /* background-color: red; */
  border-left: 1px solid beige;
  border-right: 1px solid beige;
  color: beige;
  /* transition: 0.2s; */
}

.grid__item:hover {
  color: #222222;
  background-color: beige;
  /* transition: 0.2s; */
}
.grid__item:first-child {
  justify-content: left;
  text-align: left;
  box-sizing: border-box;
  padding-left: 24px;
  background-color: beige;
  color: #222222;
  border: 0;
  border-right: 1px solid beige;
}

.grid__item:last-child {
  justify-content: right;
  text-align: right;
  box-sizing: border-box;
  border: 0;
  border-left: 1px solid beige;
}
.grid__item:last-child a {
  /* display: flex; */
  justify-content: right;
  padding-right: 24px;
}
/* .grid__item:last-child a {
  padding-right: 24px;
} */
/* .grid__item a:last-child .item--title {
  font-size: 60px;
  font-weight: 100;
} */
.grid__item a {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}
.grid__item--inner {
  position: absolute;
  bottom: 2%;
}
.item--imagewrap img {
  width: 100%;
  height: auto;
  vertical-align: top;
}
.item--title {
  font-family: "Playfair Display", serif;
  font-size: 60px;
  font-weight: 100;
  margin-top: 10px;
}
.item--number {
  font-size: 30px;
  font-weight: 300;
}

/* ---------------------------------------- */
/* landing page end */
/* ---------------------------------------- */
.subject {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  display: none;
  z-index: 4;
  background-color: beige;
}

/* ---------------------------------------- */
/* subject default end */
/* ---------------------------------------- */
.s_wrap {
  width: 100%;
  height: 100vh;
  background-color: beige;
  display: flex;
}
.s1__grid--left {
  width: 16vw;
  height: 100vh;
  border-right: 1px solid #222222;
  margin: 0;
}
.grid__left--innerbox {
  width: 16vw;
  height: 12vh;
  font-size: 20px;
  font-weight: 500;
  border-bottom: 1px solid #222222;
  margin: 0;
}
.grid__left--innerbox a {
  width: 16vw;
  height: 12vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.left_cate a:hover {
  background-color: #333333;
  color: beige;
}
.left_cate a:focus {
  background-color: #222222;
  color: beige;
}

/*backToTop*/
.grid__left--innerbox:last-child {
  position: absolute;
  bottom: 0;
  width: 16vw;
  height: 12vh;
  border: 0;
  border-top: 1px solid #222222;
  margin: 0;
}
.backToTop a {
  background-color: #222222;
  color: beige;
}
/* a로 주게되면 클릭 영역 설정 힘듬 */

.s1__grid--right {
  width: 100%;
}
.grid__right--titlewrap {
  width: 100%;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #222222;
}
.grid__right--titlewrap h2 {
  font-size: 80px;
}
.grid__right--areawrap {
  display: flex;
  box-sizing: border-box;
  padding-top: 100px;
  justify-content: center;
  padding-left: 50px;
  padding-right: 50px;
  /* margin-right: ; */
  /* transform: translate(-20%, 0); */
}
.grid__right--areawrap p {
  width: 50%;
  height: auto;
  /* margin-left: 100px;
  margin-right: 100px; */
  font-size: 20px;
  font-weight: 400;
  line-height: 50px;
  margin-right: 80px;
  font-family: -apple-system, BlinkMacSystemFont, "Apple SD Gothic Neo",
    Pretendard, Roboto, "Noto Sans KR", "Segoe UI", "Malgun Gothic", sans-serif;
}
.grid__right--areawrap p span a {
  display: block;
  width: 200px;
  height: 50px;
  margin-top: 50px;
  border: 1px solid #222222;
  border-radius: 50px;
  text-align: center;
  transition: 0.2s;
}
.grid__right--areawrap p span a:hover {
  background-color: #222222;
  color: beige;
}
.grid__right--imagewrap {
  width: 500px;
  height: 500px;
}
/* alt-carrot! */
.alt-carrot{
  width: 1400px;
  height: 800px;
}
.grid__right--imagewrap img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.s1_menu {
  display: none;
}
.selected {
  display: block;
  background-color: #222222;
  color: beige;
}
.show {
  display: block;
}
/* ---------------------------------------- */
/* subject 01 end */
/* ---------------------------------------- */

.s_wrap {
  display: none;
}
.s1__grid--left {
  display: none;
}
.grid__left--innerbox {
  display: none;
}
.grid__left--innerbox a {
  display: none;
}

.s1__grid--right {
  display: none;
}
.grid__right--titlewrap {
  display: none;
}
.grid__right--titlewrap h2 {
  display: none;
}
.grid__right--areawrap {
  display: none;
}

/* ---------------------------------------- */
/* subject 01 animation end */
/* ---------------------------------------- */
